.MainImgDisplay {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.mainImg {
  top: 0;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform .5s ease-out;
  transform: scale(1);
}

.mainImg:hover {
  transform: scale(4);
}
