body {
  margin: 0;
  background-color: rgb(38,38,38)
}

.inspect {
  display: inline-block;
  height: 99%;
  width: 100%;
  top: 5px;
  right: 10px;
  position: absolute;
}

.portrait270 {
  width: 57%;
  transform: rotate(270deg) translate(1%, -12%);
}

.portrait90 {
  width: 57%;
  transform: rotate(90deg) translate(1%, -12%);
}

.img-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img {
  top: 0;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform .5s ease-out;
}

.img:hover {
  transform: scale(4);
}