.Philter {
  font-family: helvetica;
  font-weight: 100;
  color: grey;
}

.nav {
  display: inline;
}

.imgDisplay {
  display: inline-block;
  /*height: 93%;*/
  /*height: 575px;*/
  /*width: 75%;*/
  top: 0;
  left: 22%;
  position: absolute;
}
